- var title = '程序员修炼之道'
- var logo = '/static/images/brand.jpg'

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script(type='text/javascript', src='/static/javascripts/jquery.min.js')
    script(type='text/javascript', src='/static/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/static/javascripts/angular.min.js')
    script(type='text/javascript', src='/static/javascripts/layout.js')
    link(rel='shortcut icon', type='image/x-icon', href=logo, media='screen')
  body
    div.wrapper(ng-app="sjtuwow",ng-controller="layout")
      div#loader(ng-show="loaderCount > 0",ng-attr-count="{{loaderCount}}")
        div.spinner
          div.spinner-container.container1
            div.circle1
            div.circle2
            div.circle3
            div.circle4
          div.spinner-container.container2
            div.circle1
            div.circle2
            div.circle3
            div.circle4
          div.spinner-container.container3
            div.circle1
            div.circle2
            div.circle3
            div.circle4
      nav.navbar.navbar-default
        div.container
          div.navbar-header
            a.navbar-brand(href='#')
              span
                img.brand(alt=title,src=logo,width='30',height='30')
              span #{title}
          div.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(ng-class="activePage() === 'index' ? 'active' : 'inactive'")
                a(href='/') 主页
              li(ng-class="activePage() === 'users' ? 'active' : 'inactive'")
                a(href='/users/changeInfo') 修改信息
              li(ng-class="activePage() === 'activity' ? 'active' : 'inactive'")
                a(href='/activity/newActivity') 创建活动
            ul.nav.navbar-nav.navbar-right
              li.dropdown(ng-show="user")
                a(href='#',class="dropdown-toggle",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") {{user.battleTag}}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/users/changeInfo') 更改信息
                  li
                    a(href='/') 查看活动
                  li
                    a(href='/auth/logout') 登出
              
      block content

